<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BrainFart.Properties.Settings.BrainFartConnectionString"
            connectionString="Data Source=xnk6n9ftjq.database.windows.net;Initial Catalog=BrainFartDatabase;Persist Security Info=True;User ID=aprilpparmer;Password=Ap1ri2l3*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>